{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
</head>
<body>
	<div class="container  mt-5">
		<h2 class="text-center">Appointment Management System</h2>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-2">
				<ul class="list-group">
					<li class="list-group-item">
						<a class="btn btn-outline-info" href="{%url 'officerinfo' %}">Officers</a>
					</li>
					<li class="list-group-item">
						<a class="btn btn-outline-info" href="{%url 'visitorinfo' %}">Visitors</a>
					</li>
					<li class="list-group-item">
						<a class="btn btn-outline-info" href="{%url 'activities' %}">Activities</a>
					</li>
					<li class="list-group-item">
						<a class="btn btn-outline-info" href="{%url 'officerworkdays' %}">Officer Workdays</a>
					</li>
			    </ul>
				{% if messages %}
				<ul class="messages">
    				<li>{% for message in messages %}{{ message }}{% endfor %}</li>
    			</ul>
				
				{% endif%}
			</div>	
			<div class="col">
			  	{% block content %}
	
				{% endblock %}
			</div>
			
	   </div>
   </div>
</body>
</html>