<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		
		<h1>Comp.info </h1>

	</div>
		<div class="navbar">
		
			<div>
				
				<ul>
				<li><a href="{%url 'officerinfo' %}">Officers</a></li>
				<li><a href="{%url 'visitorinfo' %}">Visitors</a></li>
				<li><a href="{%url 'activities' %}">activities</a></li>
			    </ul>

			</div>

		</div>
		<div>
			{% if messages %}
				<ul class="messages">
    				{% for message in messages %}{{ message }}</li>
    				{% endfor %}
				</ul>
			{% endif %}
		</div>

	{% block content %}
	
	{% endblock %}
</body>
</html>