{% extends 'home.html' %}

{% block content%}
<div>
	<div class="container mt-10">
	<a class="btn btn-primary" href="{% url 'create-activity' %}">Add Activity</a>
	</div>
	<div>
	<form method="GET" action="">
		{% csrf_token %}
		{{form.form}}
		<input type="submit" value="Filter"/>
		
	</form>
	</div>
		<table class="table table table-striped">
			<tr>
				<th>Officer Name</th>
				<th>Visitor name</th>
				<th>Activity type</th>
				<th>status</th>
				<th>date</th>
				<th>start time</th>
				<th>end time</th>
				<th>Added time</th>
				<th>Comments</th>
				<th>Update</th>
			</tr>
			{% for activity in activities %}
			<tr>
				<td>{{activity.officer}}</td>
				<td>{{activity.visitor}}</td>
				<td>{{activity.activitytype}}</td>
				<td>{% if activity.is_active %}Active {% else %}Inactive{% endif %}</td>
				<td>{{activity.date}}</td>
				<td>{{activity.start_time}}</td>
				<td>{{activity.end_time}}</td>
				<td>{{activity.addedd_on}}</td>
				<td>{{activity.comment}}</td>
				<td><a class="btn btn-primary" href="{% url 'update-activity' activity.activityid%}">Update</a></td>

			</tr>
			{% endfor %}
		</table>
</div>
{% endblock %}