{% extends 'home.html' %}
{% block content %}
<div>
	<a class="btn btn-primary" href="{% url 'create-officer' %}">Add Officer</a>
	<a class="btn btn-primary" href="{% url 'addworkdays' %}">Add Workdays</a>
	<div class="container-md">
		<table class="table table table-striped">
			<tr>
				<th>OfficerID</th>
				<th>Officer Name</th>
				<th>Status</th>
				<th>Update</th>
			</tr>
			{% for officer in content %}
			<tr>
				<th>{{officer.id}}</th>
				<th>{{officer.name}}</th>
				<th>{% if officer.is_active %}Active {% else %}Inactive{% endif %}</th>
				<th><a class="btn btn-primary" href="{% url 'update-officer' officer.id %}">Update</a></th>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}